<h1>Welcome to Mine Sweeper</h1>

<table>
  <tr>
    <th>Name</th>
    <th>X</th>
    <th>Y</th>
    <th>Mines</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= board.name %></td>
    <td><%= board.x %></td>
    <td><%= board.y %></td>
    <td><%= board.mines %></td>
    <td><%= link_to 'Show', board %></td>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>New Game:</h2>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.number_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.number_field :y %>
  </div>
  <div class="field">
    <%= f.label :mines %><br />
    <%= f.number_field :mines %>
  </div>
  <div class="actions">
    <%= f.submit "Create Game" %>
  </div>
<% end %>


<br />

<%= link_to 'New Board', new_board_path %>
