<h1>Welcome to Mine Sweeper</h1>

<table>
  <tr>
    <th>Name</th>
    <th>X</th>
    <th>Y</th>
    <th>Mines</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= board.name %></td>
    <td><%= board.x %></td>
    <td><%= board.y %></td>
    <td><%= board.mines %></td>
    <td><%= link_to 'Show', board %></td>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2> New Game: </h2>
<%= render 'form' %>
